<div class="card bg-dark text-white">
        <div class="card-header">{{ titulo }}</div>
        <div class="card-body">
      
          <form>
            <div class="form-group row">
                <label for="id" class="col-form-label col-sm-2">Id</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="hero.id" name="id" readonly>
                </div>
            </div>
            <div class="form-group row">
              <label for="name" class="col-form-label col-sm-2">Nombre</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" [(ngModel)]="hero.name" name="name" readonly>
              </div>
            </div>
      
            <div class="form-group row">
              <label for="fullName" class="col-form-label col-sm-2">Nombre Completo</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" [(ngModel)]="hero.biography.fullName" name="fullName" readonly>
              </div>
            </div>
            <div class="form-group row">
                <label for="birthPlace" class="col-form-label col-sm-2">Lugar de nacimiento</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="hero.biography.birthPlace" name="birthPlace" readonly>
                </div>
            </div>
            <div class="form-group row">
                <label for="firstAppearance" class="col-form-label col-sm-2">Primera aparicion</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="hero.biography.firstAppearance" name="firstAppearance" readonly>
                </div>
            </div>
            <div class="form-group row">
                <label for="publisher" class="col-form-label col-sm-2">Publicador</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="hero.biography.publisher" name="publisher" readonly>
                </div>
            </div>
            <div class="form-group row">
                    <label for="alignment" class="col-form-label col-sm-2">Apegado</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" [(ngModel)]="hero.biography.alignment" name="alignment" readonly>
                    </div>
            </div>
      
            <div class="form-group row">
              <div class="col-sm-6">
                <button class="btn btn-primary"  type="button" [routerLink]="['/super-heros']">Cerrar</button>
              </div>
            </div>
          </form>
      
        </div>
      </div>