<div class="card border-primary mb-3">
    <div class="card-header">Super Heroes</div>
    <div class="card-body text-primary">
      <h5 class="card-title">Listado de super heroes</h5>
  
      <form>
      <div class="form-group row">
            <div class="col-sm-6">
                <input type="text" class="form-control" [(ngModel)]="searched" name="searched">
            </div>
        <button class="btn btn-rounded btn-primary" role="button" (click)='search()' >Search</button>
      </div>
    </form>

      <div *ngIf="superHeros?.length==0" class="alert alert-info">No existen registros</div>
      <div class="table-wrapper-scroll-y my-custom-scrollbar">
      <table class="table table-bordered table-striped" *ngIf="superHeros?.length>0">
        <thead>
          <tr>
            <th>Id</th>
            <th>Nombre</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let superHero of superHeros">
            <td>{{superHero.id}}</td>
            <td>{{superHero.name}}</td>
            <td>
              <button class="btn btn-rounded btn-primary" type="button"
                [routerLink]="['/hero/detail', superHero.id]">Ver Detalle</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
  </div>